html{
  height:100%;
}
body{
  font-family: 'Tangerine', cursive;
  background-image: url('/images/moreoldpaper.jpg');
  background-size: cover;
}
main{
  text-align: center;
}

h3{
  color: #60061E;
  padding: 0px 50px 0px 50px;
  font: bold;
}

.nav-link {
  color: white;
  font-weight: bold;
}

#scroll {
  background-image: url('/images/moreoldpaper.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.kraken{
  opacity: 0.5;
  border: 2px solid black;
  border-radius: 100px;
}

#map {
  height: 90vh;
  width: 100%;
  font-family: 'Tangerine', cursive;
  opacity: 0.8;
}

.islandImage {
border: 10px;
}

div {
  border: 3px;
}

.gm-style .gm-style-iw {
  height: 200px;
  width: 400px;
}
